<!DOCTYPE html>
<html>
<head>
    <title>注册选择--学生</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="Cache-Control" content="no-store"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="-1"/>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'/>
    <!--  / html5 -->
    <!--[if lt IE 9]>
    <script src='../asserts/javascripts/plugs/html5/html5shiv.js' type='text/javascript'></script>
    <![endif]-->
    <!--  / bootstrap -->
    <link href='../asserts/stylesheets/bootstrap/bootstrap.min.css' media='all' rel='stylesheet' type='text/css'/>
    <link href='../asserts/stylesheets/bootstrap/bootstrap-responsive.min.css' media='all' rel='stylesheet'
          type='text/css'/>
    <!-- base-->
    <link href="../asserts/stylesheets/base/base_style_v1.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="../asserts/stylesheets/base/base_site_v1.css" media="all" rel="stylesheet" type="text/css"/>
</head>
<style>
    nav, ul, ol, li {
        list-style: outside none none;
    }
    .step_ul {
        border-bottom: 3px solid #e6e6e6;
        color: #cccccc;
        font-weight: lighter;
        height: 30px;
        margin-top: 32px;
    }
    .step_ul li {
        border-left: 0px;
        float: left;
        height: 100%;
        margin-left: 60px;
        text-align: center;
        width: 320px;
    }
    .step_ul li.li1 {
        border-bottom: 3px solid #00a2ca;
        color: #000;
    }
</style>
<body scroll="no">
<div class="page-header" style="margin: 0px 0px 0px 0px;padding: 20px 27px 20px 27px">
    <h1 style="margin: 0px 0px 0px 0px;">
        <img src="../asserts/images/base/njb-logo-xs.png" style="width: 75px;height: 40px;">
        <small>&nbsp;&nbsp;账号注册</small>
        <small class="pull-right" style="margin-top: 1%;">
            <ul class="page-header-nav">
                <li class="nav-first"><a href="#">帮助中心</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
        </small>
    </h1>
</div>
<div class="container-fluid" style="height: 320px;">
    <ul class="step_ul step1 clear">
        <li class="li2">1、填写资料</li>
        <li class="li1">2、激活邮件</li>
        <li class="li2">3、完成注册</li>
    </ul>
    <div class="row-fluid" style="margin-top: 10%;">
        <div class="span3"></div>
        <div class="span9">
            <h2>恭喜您，注册成功！请点击邮箱(111@111.cn)中的链接完成账号激活！</h2>
        </div>
    </div>
</div>
<footer class="bs-docs-footer" role="contentinfo">
    <div class="container">
        <p>
            <a href="#">关于我们</a>
            <a href="#">法律声明</a>
            <a href="#">友情链接</a>
        </p>
        <p>
            <span>© 2015 xxxx.com 版权所有 ICP证：桂B2-20080101</span>
        </p>
    </div>
</footer>
</body>
</html>
<!-- / jquery -->
<script src='../asserts/javascripts/jquery/jquery.min.js' type='text/javascript'></script>
<!-- / bootstrap -->
<script src='../asserts/javascripts/bootstrap/bootstrap.min.js' type='text/javascript'></script>
<script>
    $(document).ready(function () {

    });
</script>