<!DOCTYPE html>
<html>
<head>
    <title>顶部导航 页脚</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="Cache-Control" content="no-store"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="-1"/>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'/>
    <!--  / html5 -->
    <!--[if lt IE 9]>
    <script src='../asserts/javascripts/plugs/html5/html5shiv.js' type='text/javascript'></script>
    <![endif]-->
    <!--  / bootstrap -->
    <link href='../asserts/stylesheets/bootstrap/bootstrap.min.css' media='all' rel='stylesheet' type='text/css'/>
    <link href='../asserts/stylesheets/bootstrap/bootstrap-responsive.min.css' media='all' rel='stylesheet'
          type='text/css'/>
    <!-- base-->
    <link href="../asserts/stylesheets/base/base_style_v1.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="../asserts/stylesheets/base/base_site_v1.css" media="all" rel="stylesheet" type="text/css"/>
</head>

<body scroll="no">
<div class="page-header" style="margin: 0px 0px 0px 0px;padding: 20px 27px 20px 27px">
    <h1 style="margin: 0px 0px 0px 0px;">
        <img src="../asserts/images/base/njb-logo-xs.png" style="width: 75px;height: 40px;">
        <small>&nbsp;&nbsp;账号注册</small>
        <small class="pull-right" style="margin-top: 1%;">
            <ul class="page-header-nav">
                <li class="nav-first"><a href="#">帮助中心</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
        </small>
    </h1>
</div>
<footer class="bs-docs-footer" role="contentinfo">
    <div class="container">
        <p>
            <a href="#">关于我们</a>
            <a href="#">法律声明</a>
            <a href="#">友情链接</a>
        </p>
        <p>
            <span>© 2015 xxxx.com 版权所有 ICP证：桂B2-20080101</span>
        </p>
    </div>
</footer>
</body>
</html>
<!-- / jquery -->
<script src='../asserts/javascripts/jquery/jquery.min.js' type='text/javascript'></script>
<!-- / bootstrap -->
<script src='../asserts/javascripts/bootstrap/bootstrap.min.js' type="text/javascript"></script>
<script>

</script>